.skills {
    position: relative;
    overflow: hidden;

    padding: 90px 6%;

    background: #050816;
}

.glow1 {
    position: absolute;

    top: -250px;
    left: -250px;

    width: 600px;
    height: 600px;

    background: #4338ca;

    filter: blur(220px);

    opacity: .18;
}

.glow2 {
    position: absolute;

    right: -250px;
    bottom: -250px;

    width: 600px;
    height: 600px;

    background: #9333ea;

    filter: blur(220px);

    opacity: .18;
}

.header {
    position: relative;
    z-index: 2;

    text-align: center;

    margin-bottom: 55px;
}

.header>span {
    display: inline-flex;

    padding: 10px 24px;

    border-radius: 999px;

    color: white;

    font-size: 12px;

    letter-spacing: 2px;

    border: 1px solid rgba(139, 92, 246, .5);

    background: rgba(139, 92, 246, .08);
}

.header h2 {
    margin-top: 18px;

    color: white;

    font-size: clamp(2.2rem,
            3vw,
            3.5rem);

    font-weight: 800;

    line-height: 1;
}

.header h2 span {
    padding: 0;
    border: none;
    background: none;

    color: #8b5cf6;
}

.line {
    width: 90px;
    height: 2px;

    margin: 18px auto;

    background: #8b5cf6;

    position: relative;
}

.line::after {
    content: "";

    width: 10px;
    height: 10px;

    border-radius: 50%;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background: #8b5cf6;
}

.header p {
    max-width: 700px;

    margin: auto;

    color: #cbd5e1;

    line-height: 1.7;

    font-size: 14px;
}

.grid {
    position: relative;
    z-index: 2;

    display: grid;

    grid-template-columns:
        repeat(4, minmax(220px, 1fr));

    gap: 20px;
}

.card {
    position: relative;

    height: 180px;

    border-radius: 24px;

    backdrop-filter: blur(25px);

    background: rgba(255, 255, 255, .04);

    border: 1px solid rgba(255, 255, 255, .08);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: .35s ease;
}

.card:hover {
    transform: translateY(-8px);

    border-color:
        rgba(139, 92, 246, .4);
}

.iconBox {
    width: 100px;
    height: 100px;

    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 16px;

    backdrop-filter: blur(25px);

    border: 1px solid rgba(255, 255, 255, .08);
}

.iconBox svg {
    width: 55px;
    height: 55px;
}

.react {
    color: #61dafb;
}

.next {
    color: white;
}

.node {
    color: #3c873a;
}

.mongo {
    color: #4caf50;
}

.express {
    color: white;
}

.firebase {
    color: #ffca28;
}

.cpp {
    color: #60a5fa;
}

.card h3 {
    color: white;

    font-size: 1.1rem;

    font-weight: 600;

    text-align: center;
}

.cardLine {
    width: 40px;
    height: 2px;

    margin-top: 12px;

    background: #8b5cf6;
}

.dots {
    position: absolute;

    right: 14px;
    bottom: 14px;

    width: 40px;
    height: 40px;

    background-image:
        radial-gradient(rgba(255, 255, 255, .15) 1.5px,
            transparent 1.5px);

    background-size: 10px 10px;
}

.bottomDivider {
    display: flex;
    justify-content: center;

    margin-top: 55px;
}

.bottomDivider span {
    width: 150px;
    height: 2px;

    background: linear-gradient(90deg,
            transparent,
            #8b5cf6,
            transparent);
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {

    .skills {
        padding: 80px 20px;
    }

    .grid {
        grid-template-columns: 2fr;
    }

    .card {
        height: 150px;
    }

    .header h2 {
        font-size: 2.5rem;
    }

    .iconBox {
        width: 65px;
        height: 65px;
    }

    .iconBox svg {
        width: 32px;
        height: 32px;
    }
}