.header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: calc(100% - 30px);
    max-width: 1400px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 14px 24px;

    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.05);

    border: 1px solid rgba(255, 255, 255, 0.08);

    border-radius: 20px;
    z-index: 999;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;

    span {
        width: 42px;
        height: 42px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 12px;

        font-size: 15px;
        font-weight: 700;
        color: white;

        background: linear-gradient(135deg,
                #7c3aed,
                #2563eb);
    }
}

.nav {
    display: flex;
    gap: 30px;
}

.navLink {
    color: white;
    text-decoration: none;

    font-size: 15px;
    font-weight: 500;

    transition: 0.3s;
}

.navLink:hover {
    color: #60a5fa;
}

.cta {
    padding: 12px 22px;
    border-radius: 12px;

    font-size: 14px;
    font-weight: 600;

    color: white;

    background: linear-gradient(135deg,
            #7c3aed,
            #2563eb);
}

@media (max-width: 992px) {
    .nav {
        display: none;
    }

    .cta {
        display: none;
    }
}